:root {
	--body-color: aliceblue;
	--navbar-color: white;
	--navbar-bg: #1919227a;
	--navbar-bg-hover: #2c2c31;
}

body {
	font-family: "PT Sans", Sans, Arial;
	font-size: 16px;
	margin: 0;
	padding: 0;
	/* color: var(--body-color); */
}

/** === NAVBAR STYLES === */
ul.navbar {
	z-index: 100;
	list-style-type: none;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	overflow: auto hidden;
	background-color: var(--navbar-bg);
	position: sticky;
	top: 0;
	width: 100%;
}

ul.navbar>li {
	float: left;
}

ul.navbar>li>a {
	display: block;
	color: var(--navbar-color);
	text-align: center;
	padding: 15px;
	text-decoration: none;
}

ul.navbar a:hover {
	background-color: var(--navbar-bg-hover);
}