:root {
	--body-color: aliceblue;
}

body {
	font-family: "PT Sans", Sans, Arial;
	font-size: 14pt;
	margin: 0;
	padding: 0;
	background-color: white;
	/* color: var(--body-color); */
}

span.button {
	width: 100%;
	max-width: 350px;
	height: 50px;
	border: 2px solid black;
	background-color: white;
	border-radius: 100px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 5px;
	transition-duration: 0.3s;
}

span.button:hover {
	transition-duration: 0.1s;
	box-shadow: inset 0 0 5px black;
	background-color: #f4f4f4;
}

/* span.button.active: only for animating JS click (on CTRL + S) */
span.button:active, span.button.active {
	transition-duration: 0s;
	background-color: #11a2f7;
}


/** === NAVBAR STYLES === */
ul.navbar {
	z-index: 100;
	list-style-type: none;
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	overflow: auto hidden;
	background-color: #0048ffb8;
	position: sticky;
	top: 0;
	width: 100%;
}

ul.navbar>li {
	float: left;
}

ul.navbar>li>a {
	display: block;
	color: white;
	text-align: center;
	padding: 15px;
	text-decoration: none;
}

ul.navbar a:hover {
	background-color: #2e5ccf;
}

ul.navbar a:active {
	box-shadow: inset 0 0 8px black;
}

.navbar a.active {
	/* border inside element */
	box-shadow: inset 0 -5px 0 black;
}


/** === YAML editor styles ===*/
/* Source (modified): https://github.com/guerillamos/yaml-editor */
.yamleditor-body {
	font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    height: 100vh;
    margin: 0;
    padding: 0;
	font-size: 14pt;
}

.yamleditor-body h1 {
	margin-bottom: 20px;
}

.yamleditor-body #editor {
    width: 100%;
    display: flex;
    justify-content: center;
}

.yamleditor-body #yamlEditor {
	font-family: monospace;
	/* font-size: 14pt; */
    /* resize: none; */
}

.yamleditor-body button {
    margin-top: 20px;
}