<!DOCTYPE html>
<html lang="de">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}} | Zisternen-Ampel</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
	<ul class="navbar">
		<li><a href="/" {% if navbar_filllevel_selected %} class="active" {% endif %}>Füllstand</a></li>
		<li><a href="/history" {% if navbar_history_selected %} class="active" {% endif %}>Historie</a></li>
		<li style="float: right"><a href="/settings" {% if navbar_settings_selected %} class="active" {% endif
				%}>Einstellungen</a></li>
	</ul>
	<div class="content">
		{% block content %}{% endblock content %}
	</div>
</body>

</html>