{% extends "base.html" %}
{% block content %}
<script src="{{ url_for('static', filename='js/script-history.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-lamps.css') }}">
<style>
	.stats {
		margin: auto 50px;
	}

	.ampel-img {
		min-height: 200px;
		max-width: 200px;
	}

	.display-container {
		overflow-x: auto;
		display: flex;
		/* auto-scroll to the right; need to reverse order of child elements */
		flex-direction: row-reverse;
		flex-wrap: nowrap;
		align-items: center;
		/* justify-content: center safe; */
		text-align: center;
		margin: 50px auto;
		padding-left: 50px;
		padding-right: 50px;
	}

	.display-container::before,
	.display-container::after {
		/* align center if overflowing */
		/* equivalent to justify-content: center safe; better browser support */
		content: '';
		flex: 1;
	}

	.display-container>* {
		margin: 10px;
	}

	.caption {
		color: #2a2a2a;
		/* font-weight: bold; */
		text-align: center;
	}

	.display-container div.history-entry {
		margin: 0 20px;
		display: inline-block;
	}

	table,
	tbody,
	tfoot,
	thead,
	tr,
	th,
	td {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 100%;
		font-weight: normal;
		vertical-align: baseline;
		background: transparent;
		text-align: left;
	}

	th:first-child {
		padding-right: 0.5rem;
	}

	@media (max-width: 480px) {
		.stats {
			margin: auto 15px;
		}

		.display-container {
			margin: 15px auto;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
</style>
<div class="stats">
	<h2 id="history-title"></h2>
	<table>
		<tr>
			<th>Minimum:</th>
			<th id="min-field">asd</th>
		</tr>
		<tr>
			<th>Maximum:</th>
			<th id="max-field">asd</th>
		</tr>
	</table>
</div>
<div class="display-container" id="display-container">
</div>


{% endblock content %}